blob-store
compile-cache
dev
storage
.apm
.npm
.node-gyp
.atom-socket-secret-*
packages/*
!packages/sync-settings
!packages/language-todo-more-words
packages/language-todo-more-words/*
!packages/language-todo-more-words/grammars
!packages/language-todo-more-words/grammars/todo-extra-words.cson
