"*":
  "atom-package-sync": {}
  core:
    automaticallyUpdate: false
    destroyEmptyPanes: false
    disabledPackages: [
      "about"
      "atom-jump-block"
      "auto-fold"
      "background-tips"
      "code-peek"
      "codesidestory-atom"
      "expand-region"
      "full-path-in-title-bar"
      "jumpy"
      "line-jumper"
      "line-navigation"
      "metrics"
      "package-generator"
      "smart-backspace"
      "sourcerer"
      "sublime-word-navigation"
      "timecop"
      "token-navigation"
      "welcome"
      "wrap-guide"
      "casefile"
      "code-annotations"
      "symbols-view"
      "github"
      "folded-code-preview"
      "nav-panel-plus"
      "status-bar"
      "pigments"
      "todo-show"
      "organized"
      "language-todo"
      "notifications-plus"
    ]
    packagesWithKeymapsDisabled: [
      "github"
      "recent-files-fuzzy-finder"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-light-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    fontSize: 17
    softWrap: true
    tabLength: 4
  "env-from-shell":
    autoRun: true
  "exception-reporting":
    userId: "c093718b-31f0-485b-aa2a-08513e1eb005"
  "git-diff":
    showIconsInEditorGutter: true
  minimap:
    autoToggle: false
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  notifications: {}
  "notifications-plus":
    defaultTimeout: 1000
  "package-sync-plus":
    gistId: "5135120492d06524549a09416170d14f"
    personalAccessToken: "1c2b5014c8d063e7cab6bc659e869df1e024e967"
  "process-palette":
    palettePanel: {}
  "run-command": {}
  "symbols-tree-nav":
    autoToggle: true
  "sync-settings":
    _lastBackupHash: "93fc75fbf350b7fbc9044d1f8c8c6ad6ea55b9aa"
    extraFiles: [
      "package-switch.bundles"
      "process-palette.json"
    ]
    gistId: "a2d82727d837faec073aad9a4870e78f"
    personalAccessToken: "f5a9743ebaf8d74be64f711aaeb715db58f4056e"
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
      "REMOVE"
      "READYOBJ"
      "PALETTES"
      "SAM"
    ]
    showInTable: [
      "Text"
      "Type"
    ]
  "tree-view":
    autoReveal: true
  "two-light-ui": {}
