# unset keymaps in 'body' to prevent their occurence when focusing in Settings
'body':
    'escape': 'unset!'
    'ctrl-alt-cmd-m': 'unset!'

'.platform-darwin':
    'cmd-.': 'unset!'
    'ctrl-0': 'unset!'
    'cmd-b': 'fuzzy-finder:toggle-buffer-finder'
    'shift-cmd-left': 'unset!'
    'shift-cmd-right': 'unset!'
    'alt-shift-left': 'unset!'
    'alt-shift-right': 'unset!'

'.platform-darwin atom-text-editor':
    'cmd-f3': 'unset!'
    'shift-cmd-f3': 'unset!'

'.platform-darwin .find-and-replace':
    'escape': 'custom:find'

'.platform-darwin .project-find':
    'escape': 'custom:project-find'

'atom-workspace atom-panel-container.modal':
    'escape': 'core:cancel'

'atom-workspace atom-text-editor:not([mini])':
    'cmd-<': 'unset!'
    'escape': 'editor:consolidate-selections'

'atom-workspace':
    'f3': 'todo-show:toggle'
    'cmd-f3': 'process-palette:toggle'
    'shift-f3': 'minimap:toggle'
    'shift-f5': 'process-palette:kill-focused-process'
    'cmd-alt-f5': 'process-palette:hide'
    'cmd-.': 'application:open-your-keymap'
    'cmd-shift-,': 'application:open-your-config'
    'cmd-\\': 'tree-view:toggle-focus'
    'ctrl-cmd-o': 'cursor-history:next-within-editor'
    'ctrl-cmd-i': 'cursor-history:prev-within-editor'
