packages: [
  "atom-beautify"
  "atom-jump-block"
  "auto-fold"
  "autocomplete-corona"
  "browse"
  "casefile"
  "code-annotations"
  "code-peek"
  "codesidestory-atom"
  "expand-region"
  "fold-functions"
  "fold-navigator"
  "folded-code-preview"
  "full-path-in-title-bar"
  "highlight-selected"
  "imdone-atom"
  "indent-guide-improved"
  "jumpy"
  "language-lua"
  "language-todo-more-words"
  "line-jumper"
  "line-navigation"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "nav-panel-plus"
  "notifications-plus"
  "organized"
  "package-switch"
  "package-sync"
  "pigments"
  "process-palette"
  "recent-files-fuzzy-finder"
  "smart-backspace"
  "sourcerer"
  "sublime-word-navigation"
  "todo-show"
  "token-navigation"
]
