packages: [
  "atom-beautify"
  "autocomplete-corona"
  "browse"
  "cursor-history"
  "fold-functions"
  "fold-navigator"
  "highlight-selected"
  "imdone-atom"
  "indent-guide-improved"
  "language-lua"
  "language-todo-more-words"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "package-sync"
  "process-palette"
  "recent-files-fuzzy-finder"
]
